{% extends "dashboard.html" %}

{% block conteudo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Dashboard
            </a>
        </li>
         <li class="breadcrumb-item">
            <a href="{{url('admin/usuarios/listar')}}">
                Usuários
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {% if usuario.id %}Atualizar{%else%}Cadastrar{%endif%}
        </li>
    </ol>
</nav>

{{ flash() }}

<div class="card border-0 shadow-sm">
    <div class="card-body">
        <form action="{% if usuario.id %}{{url('admin/usuarios/editar/'~usuario.id)}}{%else%}{{url('admin/usuarios/cadastrar')}}{%endif%}" method="post">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" name="nome" id="nome" value="{{usuario.nome}}" class="form-control" placeholder="Nome">
                        <label for="nome">Nome</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="email" name="email" id="email" value="{{usuario.email}}" class="form-control" placeholder="E-mail">
                        <label for="email">E-mail</label>
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha">
                        <label for="senha">Senha</label>
                    </div>  
                </div>
                <div class="col-sm-3">
                    <div class="form-floating mb-3">
                        <select class="form-select" name="level" id="level">
                            <option value="1" {% if usuario.level == '1' %}selected{%endif%}>Usuário</option>
                            <option value="3" {% if usuario.level == '3' %}selected{%endif%}>Admin</option>
                        </select>
                        <label for="level">Level</label>
                    </div> 
                </div>
                <div class="col-sm-3">
                    <div class="form-floating mb-3">
                        <select class="form-select" name="status" id="status">
                            <option value="1" {% if usuario.status == '1' %}selected{%endif%}>Ativo</option>
                            <option value="0" {% if usuario.status == '0' %}selected{%endif%}>Inativo</option>
                        </select>
                        <label for="status">Status</label>
                    </div> 
                </div>
            </div>

            <div class="d-grid gap-2">
                <input type="submit" class="btn btn-dark" value="{% if usuario.id %}Atualizar{%else%}Cadastrar{%endif%}">
            </div>
        </form>
    </div>    
</div>
</div>
{% endblock %}