<input type="checkbox" id="menu">
<div class="sidebar">
    <div class="sidebarLogo">
        <a href="{{url('admin/dashboard')}}" tooltip="tooltip" title="Dashboard">
            <div class="logo">
                <img src="{{url('templates/admin/assets/img/php-logo.svg')}}" alt=" {{constant('SITE_NOME')}}"/>
            </div>
        </a>
    </div>

    <div class="sidebarMenu">
        <ul>
            <li class="sidebarTitulo">
                Administração
            </li>
            <li>
                <a href="{{url('admin/posts/listar')}}" tooltip="tooltip" title="Administração de Posts">
                    <i class="fa-solid fa-file-pen"></i>
                    <span>Posts</span>
                </a>
            </li>  
            <li>
                <a href="{{url('admin/categorias/listar')}}" tooltip="tooltip" title="Administração de Categorias">
                    <i class="fa-solid fa-list"></i>
                    <span>Categorias</span>
                </a>
            </li> 
            <li>
                <a href="{{url('admin/usuarios/listar')}}" tooltip="tooltip" title="Administração de Usuários">
                    <i class="fas fa-users"></i> 
                    <span>Usuários</span>
                </a>
            </li>
        </ul>
    </div>
    
</div>