<header class="bg-white">
    <h2>
        <label for="menu">
            <i class="fa-solid fa-bars-staggered" tooltip="tooltip" title="MENU"></i>
        </label>
        <a href="{{url()}}" class="text-secondary fs-4 mb-2">
            <i class="fa-solid fa-house"></i>
        </a>
    </h2>

    <div class="btn-group mb-2">
        
        <button type="button" class="btn bg-white dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <i class="fa-solid fa-user me-2"></i> {{usuario().nome}}
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
            <li>
                <a class="dropdown-item" href="#" tooltip="tooltip" title="Perfil">
                    Perfil
                </a>
            </li>
            <li>
                <a class="dropdown-item text-danger" href="{{url('admin/sair')}}" tooltip="tooltip" title="Sair do Sistema">
                    Sair
                </a>
            </li>
        </ul>
    </div>

</header>